html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    min-width: 320px;
    font-family: sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 5px 5px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1024px;
}
.header {
    border-bottom: 1px solid #000;
}
.header__menu {
    padding: 10px 0;
    display: flex;
    gap: 35px;
    flex-direction: row;
}

.header__container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__cabinet {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.container__header {
    margin: 0;
    margin-bottom: 50px;
}

.concert__container {
    padding-top: 30px;
}

.content__form {
    padding: 15px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #EEEEEE;
}

.form__label {
    margin-right: 15px;
}

.form__input {
    min-width: 220px;
    margin-right: 15px;
}

.form__submit {
    margin-right: 5px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}
.concert__item {
    width: calc((100% - 30px * 2) / 3);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.concert__item:not(:last-child) {
    margin-right: 30px;
}
.concert__item img {
    display: flex;
    flex: 1;
    min-height: 320px;
    max-height: 320px;
    object-fit: cover;
    overflow: hidden;
    border-bottom: 1px solid #000;
}
.concert__image {
    max-height: 300px;
}
.concert-about__wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.concert-about__header {
    margin: 0;
    margin-bottom: 15px;
}
.concert-about__container {
    padding-top: 50px;
}
.concert-about__content__wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 15px;
}
.concert__content__wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}
.concert__header {
    margin: 0;
    margin-bottom: 5px;
}
.concert__descr {
    margin: 0;
    margin-bottom: 10px;
}
.concert__link {
    margin-bottom: 10px;
}
.concert__time {
    font-size: 14px;
    margin-bottom: 5px;
}
.concert__span {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
.concert__about {
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 6px;
}
.concert__list {
    display: flex;
    flex-direction: row;
}
.concert__about__wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
}
.sit__link {
    color: darkblue;
}

.sit__list {
    display: flex;
    flex-direction: column;
}
.sit__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sit__header {
    margin: 0;
}
.sit__paragraph {
    margin: 0;
}
.sit__item {
    margin-bottom: 10px;
}
.reg__container {
    padding-top: 50px;
    margin: auto auto;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.reg__wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-height: 50vh;
    border-radius: 16px;
    box-shadow: 1px 1px 20px 1px rgba(34, 60, 80, 0.2);
}
.login__wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-height: 50vh;
    border-radius: 16px;
    box-shadow: 1px 1px 20px 1px rgba(34, 60, 80, 0.2);
}
.reg__header {
    margin: 0;
}
.login__header {
    margin: 0;
} 
.reg__submit {
    display: flex;
    align-self: center;
    max-width: 300px;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 8px;
}
.reg__input {
    padding: 5px;
}
.login__input {
    padding: 10px;
}
.exit__link {
    color: rgb(9, 23, 37);
}
.login__link {
    color: #5990DC;
}
.reg__link {
    color: #5990DC;
}

.profile__container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-info__wrapper {
    min-height: 450px;
    width: 45%;
}
.profile-concert__wrapper  {
    min-height: 450px;
    width: 45%;
}
.profile__section {
    margin-bottom: 20px;
}
.concert-profile__header {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}
.concert-profile__list {
    display: flex;
}
.concert-profile__item {
    width: calc((100% - 30px * 2) / 3);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.concert-profile__item img {
    height: auto;
    max-height: 150px;
    object-fit: fill;
    overflow: hidden;
    border-bottom: 1px solid #000;
}
.concert-profile__item:not(:last-child) {
    margin-right: 30px;
}
.concert-profile__content__wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}
.concert-profile__about__wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
}
.concert-profile__time {
    margin-bottom: 5px;
}
.concert-profile__span {
    margin-bottom: 5px;
}
.concert-profile__about {
    padding: 5px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
}
.info__header {
    margin: 0;
    margin-bottom: 20px;
}
.info__descr {
    margin: 0;
}
.concert-info__header {
    margin: 0;
    margin-bottom: 10px;
}